{
    "CN":"{{ inventory_hostname }}",
    "hosts": [
        {% for host in groups['master'] %}
        "{{ host }}",
        {% endfor %}
        "127.0.0.1",
        {% for host in groups['master'] %}
        "{{ hostvars[host]['ansible_' + network_interface]['ipv4']['address']}}",
        {% endfor %}
        "localhost"
    ],
    "key": {
        "algo": "ecdsa",
        "size": 256
    },
    "names": [
        {
            "C": "CH",
            "L": "ZJ",
            "ST": "Hang Zhou"
        }
    ]
}